.contenedor-albumes{
    display: block;
    height: 100%;
    background-color: rgb(224, 228, 228);
    overflow: scroll;
}

.contenedor-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(224, 228, 228);
    overflow: hidden;
    min-height: 100%;
}


.album, .text-original{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 80%;
    height: 28vh;
    margin-bottom: 2rem;
    margin-top: 1rem;
    overflow: scroll;
}

.album .fotos{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.album img{
    max-width: 12vw;
    margin: 15px 0px 10px 10px;
}

.fotos a{
    cursor: pointer;
}



/*----------------DESCRICION FOTO---------------------*/
.contenedor-descripcion{
    display: flex;
    width: 70%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-descripcion .contenedor-text{
    min-height: 40%;
}

.contenedor-descripcion .contenedor-text .text{
    overflow-y: scroll;
    min-height: 65%;
    background-color: #f2f2f2;
}

.contenedor-descripcion h2{
    margin-top: 0;
}